<!-- app/assets/templates/new.jst.ejs -->
<div>
  <h1>New Feed</h1>
  <label for="feed_source">
    source
    <input name="feed[source]" id="feed_source">
  </label>

  <button class="submit">Submit!</button>
  <button class="cancel">Cancel</button
</div>
